$font-color: #454545;
$placeholder-color: #868686;
$primary-color: #bdf1ee;
$secondary-color: #abdcd9;
$light-grey-color: #e9e8e8;
$red-color: #ff5170;

$border-radius: 0.4rem;

$transition-background: background-color 0.15s;
$transition-duration: 0.15s;
